.A{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.B{
    display: flex;
    gap: 10px;
}
@media (min-width:300px) and (max-width:600px){
    body{
        background-color: red;
    }
    .A{
        justify-content: center;
        flex-direction: column;
    }
    .B{
        justify-content: center;
        flex-direction: column;
        /* gap: 10px; */
    }
}
@media screen and (min-width:601px) and (max-width:1440px){
    body{
        background-color: yellow;
    }
    .A{
        justify-content: center;
        flex-direction: column;
    }
    .B{
        justify-content: center;
        flex-direction: row;
        /* gap: 10px; */
    }
}
@media (min-width:1441px) and (max-width:2560px){
    body{
        background-color: aquamarine;
    }
    .A{
        justify-content: center;
        flex-direction: row;
    }
    .B{
        justify-content: center;
        flex-direction: row;
    }
}